{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}
{% block title %}Play Game!{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

Guess a number 1 to {{stats.game_range}}
{{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
    </div>
      <div class="row">

    <div class="col-sm-12 col-md-8">

        {% if stats.game_state == 4 %}
<br>
        <h2>You Won with {{stats.guess}} in {{stats.attempts}} tries!</h2>
        {% elif stats.game_state == 5 %}
<br>
                You did not guess my number of {{stats.secret}} after your {{stats.tries}} guesses.  Better luck next time.

        {% elif stats.game_state == 3 %}
        <br>
        You have already guessed this number, or it is outside the guessing range.
        {% elif stats.attempts > 0 %}
        My number is {{ stats.direction }} than {{ stats.guess }}
        {% endif %}

        <table class="table table-dark">
            <tr>
                <td>
                    Attempt # <br>
                    {{ stats.attempts }}
                </td>
                <td>
                    Out of <br>
                    {{ stats.tries }}
                </td>

            </tr>
            <tr>
                <td>
                    Guesses too small
                </td>
                <td>
                    Guesses too big
                </td>
            </tr>
             <tr>
                <td>
                    {% for guess in stats.guesses_under %}
                    {{guess}}
                    {% endfor %}
                </td>
                <td>
                    {% for guess in stats.guesses_over %}
                    {{guess}}
                    {% endfor %}
                </td>

            </tr>
        </table>



  </div>
</div>
{% endblock %}
